.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.form__rightSide_modal {
    /* max-width: 350px; */
    width: 80%;
    height: 80%;
    background-color: var(--clr-white);
    padding: 1.25em;
    border-radius: 8px;
    margin: auto;
    margin-top: -70px;
}

.personalInfo__header > h1 {
    color: var(--clr-denim);
}

.personalInfo__header > p {
    margin-top: 0.56em;
    margin-bottom: 1.875em;
    font-size: 1rem;
    padding-right: 1em;
    color: var(--clr-light-grey);
}

.personalInfo__form-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    gap: 3px;
}

.personalInfo__form-inputs > label {
    color: var(--clr-denim);
}
.personalInfo__form-inputs > input {
    padding: 0.75em;
    border-radius: 4px;
    border: 1px solid var(--clr-light-grey);
    font-size: 1rem;
    cursor: pointer;
}

.btn-background {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;

}
.next-btn {
    padding: 0.625em 1.25em;
    font-size: var(--fs-md);
    cursor: pointer;
    /* position: absolute; */
    bottom: 10px;
    right: 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--clr-denim);
    color: var(--clr-white);
}

/* MEDIA QUERIES */
@media (min-width: 475px) {
    .container {
      max-width: 470px;
    }

    .form__rightSide_modal {
        width: 100%;
        margin: auto;
        margin-top: -60px;
        padding: 20px;
    }

    .personalInfo__header > h1 {
        font-size: 1.25rem;
    }

    .personalInfo__header > p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .personalInfo__form-inputs > label {
        font-size: 12px;
    }

    .personalInfo__form-inputs > input {
        padding: 8px;
        font-size: 12px;
    }
  }
  /* small screens */
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }

    /* .form__rightSide_modal {
        max-width: 600px;
        height: auto;
        padding: 20px;
    }

    .personalInfo__header {
        font-size: 2rem;
    }

    .personalInfo__header > p {
        font-size: 1.5rem;
    }

    .personalInfo__form-inputs {
        margin-bottom: 25px;
    }

    .personalInfo__form-inputs > label {
        font-size: 1.8rem;
    }

    .personalInfo__form-inputs > input {
        font-size: 1.8rem;
        padding: 1em;
        border-radius: 8px;
    }

    .next-btn {
        font-size: 1.5rem;
        padding: 20px;
        border-radius: 8px;
    } */
  }

/* medium screens */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    /* .form__rightSide_modal {
        max-width: 640px;
        margin-top: -100px;
        height: auto;
        padding: 20px;
    }

    .personalInfo__header {
        font-size: 2rem;
    }

    .personalInfo__header > p {
        font-size: 1.5rem;
    }

    .personalInfo__form-inputs {
        margin-bottom: 25px;
    }

    .personalInfo__form-inputs > label {
        font-size: 1.8rem;
    }

    .personalInfo__form-inputs > input {
        font-size: 1.8rem;
        padding: 1em;
        border-radius: 8px;
    }

    .next-btn {
        font-size: 1.5rem;
        padding: 20px;
        border-radius: 8px;
        bottom: 40px; 
        right: 60px;
    } */

    }

/*  large screens */
@media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      padding: 1rem;
    }
    .form__rightSide_modal {
        max-width: 500px;
        margin-top: 10px;
        margin: auto;
    }

    .personalInfo__header > h1 {
        font-size: var(--fs-xl);
    }

    .personalInfo__header > p {
        font-size: 1rem;
    }
    .personalInfo__form-inputs{
        margin-bottom: 10px;
    }

    .personalInfo__form-inputs > label {
        font-size: 14px;
    }

    .personalInfo__form-inputs > input{
        padding: 12px;
        border-radius: 4px;
        font-size: 1rem;
    }
   

    .next-btn {
        padding: 10px;
        font-size: 1em;
        position: relative;
        top: -100%;
        left: 36%;
    }
  }