.form__rightSide_modal {
    max-width: 350px;
    /* max-height: 376px; */
    width: 100%;
    height: 80%;
    background-color: var(--clr-white);
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    margin-top: -70px;
}
.personalInfo__header > h1 {
    color: var(--clr-denim);
}

.personalInfo__header > p {
    margin-top: 0.56em;
    margin-bottom: 30px;
    font-size: 1rem;
    padding-right: 1em;
    color: var(--clr-light-grey);
}

.personalInfo__form-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 3px;
}

.personalInfo__form-inputs > label {
    color: var(--clr-denim);
}
.personalInfo__form-inputs > input {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid var(--clr-light-grey);
    font-size: 1rem;
    cursor: pointer;
}

.btn-background {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;

}
.next-btn {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--clr-denim);
    color: var(--clr-white);
}

/* MEDIA QUERIES */
  /* small screens */
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }

    /* .form__rightSide_modal {
        max-width: 640px;
        margin-top: -100px;
        height: auto;
        padding: 20px;
    }

    .personalInfo__header {
        font-size: 2rem;
    }

    .personalInfo__header > p {
        font-size: 1.5rem;
    }

    .personalInfo__form-inputs {
        margin-bottom: 25px;
    }

    .personalInfo__form-inputs > label {
        font-size: 1.8rem;
    }

    .personalInfo__form-inputs > input {
        font-size: 1.8rem;
        padding: 1em;
        border-radius: 8px;
    }

    .next-btn {
        font-size: 1.5rem;
        padding: 20px;
        border-radius: 8px;
    } */
  }

/* medium screens */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    }

/*  large screens */
@media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      padding: 1rem;
    }
    .form__rightSide_modal {
        max-width: 500px;
        margin-top: 10px;
        margin: auto;
    }

    .personalInfo__form-inputs{
        margin-bottom: 8px;
    }

   

    /* .next-btn {
        position: relative;
        top: -100%;
        left: 30%;
        right: 10%;
        right: 0; 
    } */
  }