<div class="main-container">
    <div class="form__rightSide_modal">
        <div class="personalInfo__form">
            <form [formGroup]="personalInfoForm" (ngSubmit)="nextStep()">
                <div class="personalInfo__form-container">
                    <div class="personalInfo__header">
                        <h1>Personal Info</h1>
                        <p>Please provide your name, email address, and phone number.</p>
                    </div>
                    
                    <div class="personalInfo__form-inputs">
                        <label for="name">Name</label>
                        <input type="text" id="name" placeholder="e.g. Stephen King" formControlName="name"
                            [class.error-outline]="personalInfoForm.controls['name'].invalid && personalInfoForm.controls['name'].touched">
                            <!-- @if (personalInfoForm.controls['name'].invalid && personalInfoForm.controls['name'].touched) {
                                <div class="input-error">This field is required</div>
                            } -->
                        <div *ngIf="personalInfoForm.controls['name'].invalid && personalInfoForm.controls['name'].touched"
                            class="input-error">This field is required</div>
                    </div>
    
                    <div class="personalInfo__form-inputs">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" placeholder="e.g. stephenking@lor" formControlName="email"
                            [class.error-outline]="personalInfoForm.controls['email'].invalid && personalInfoForm.controls['email'].touched">
                        <div *ngIf="personalInfoForm.controls['email'].invalid && personalInfoForm.controls['email'].touched"
                            class="input-error">This field is required</div>
                    </div>
    
                    <div class="personalInfo__form-inputs">
                        <label for="phone">Phone Number</label>
                        <input type="tel" id="phone" placeholder="e.g. 0204530073" formControlName="phone"
                            [class.error-outline]="personalInfoForm.controls['phone'].invalid && personalInfoForm.controls['phone'].touched">
                        <div *ngIf="personalInfoForm.controls['phone'].invalid && personalInfoForm.controls['phone'].touched"
                            class="input-error">This field is required</div>
                    </div>
    
                </div>
                <div class="btn-background">
                    <button class="next-btn" type="submit">Next Step</button>
                </div>
            </form>
        </div>
    </div>
</div>
