.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.form__rightSide_modal {
    width: 80%;
    height: auto;
    padding: 1.25em;
    margin: auto;
    margin-top: -90px;
}
.personalInfo__form-container{
    background-color: var(--clr-white);
    border-radius: 8px;
    padding: 20px;
    height: 380px;
    
}

.personalInfo__header > h1 {
    color: var(--clr-denim);
}

.personalInfo__header > p {
    margin-top: 0.56em;
    margin-bottom: 1.875em;
    font-size: 1rem;
    padding-right: 1em;
    color: var(--clr-light-grey);
}

.personalInfo__form-inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    gap: 10px;
}

.personalInfo__form-inputs > label {
    color: var(--clr-denim);
}
.personalInfo__form-inputs > input {
    padding: 0.75em;
    border-radius: 4px;
    border: 1px solid var(--clr-light-grey);
    font-size: 1rem;
    cursor: pointer;
}

.personalInfo__form-inputs > input.error-outline {
    outline: 2px solid var(--clr-red);
}

.btn-background {
    background-color: var(--clr-white);
    width: 100%;
    height: 50px;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 70px;
    /* position: absolute; */
}
.next-btn {
    padding: 0.625em 1.25em;
    font-size: var(--fs-md);
    cursor: pointer;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
    background-color: var(--clr-denim);
    color: var(--clr-white);
}

/* active and hover effects */
.personalInfo__form-inputs > input:focus {
    outline: 3px solid var(--clr-purple);
}


.input-error {
    color: var(--clr-red);
    position: absolute;
    right: 0;
    font-weight: 600;
}

/* MEDIA QUERIES */
@media (min-width: 475px) {
    .container {
      max-width: 470px;
    }

    .form__rightSide_modal {
        width: 80%;
        margin: auto;
        margin-top: -60px;
        padding: 20px;
        /* position: relative; */
    }

    .personalInfo__header > h1 {
        font-size: 1.25rem;
    }

    .personalInfo__header > p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .personalInfo__form-inputs > label {
        font-size: 12px;
    }

    .personalInfo__form-inputs > input {
        padding: 8px;
        font-size: 12px;
    }


  }
  /* small screens */
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }

    }

/*  large screens */
@media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      padding: 1rem;
    }
    .form__rightSide_modal {
        max-width: 550px;
        margin-top: 10px;
        margin: auto;
    }


    .personalInfo__header > h1 {
        font-size: var(--fs-xl);
    }

    .personalInfo__header > p {
        font-size: 1rem;
    }
    .personalInfo__form-inputs{
        margin-bottom: 20px;
    }

    .personalInfo__form-inputs > label {
        font-size: var(--fs-md);
    }

    .personalInfo__form-inputs > input{
        padding: 12px;
        border-radius: 4px;
        font-size: 1rem;
    }
   
    .btn-background {
        background-color: none;
        margin-top: 50px;
    }

    .next-btn {
        padding: 10px;
        font-size: 1rem;
        margin-right: 20px;
    }
  }

  .error-outline {
    outline: 2px solid var(--clr-red);
}