.main-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #EFF5FF;
}
.component_thank-you,
.main_summary {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    /* padding: 6rem 2.2rem; */
}
.main_summary {
    align-items: initial;
    padding: 1rem;
    width: 90%;
    background: var(--bg-primary);
    margin-inline: 1rem;
    margin-top: -2rem;
    border-radius: 20px;
    /* margin: auto; */
}
.component_subtitle {
    font-size: .9rem;
    color: #D6D9E6;
}

.component_thank-you {
    text-align: center;
    align-items: center;
}

.component_thank-you img {
    width: 50px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
}
h1 {
    font-size: 2rem;
    color: #022959;
}
/* .component_thank-you p {
    
} */
.component_summary_container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #EEE;
    border: none;
    border-radius: 10px;
}
section.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/* evaluate */
/* .main_summary {
    background: var(--bg-primary);
    width: 90%;
    margin-inline: auto;
    padding: 1rem;
    height: fit-content;
    border-radius: 20px;
    margin-top: -2rem;

    --clr-purple
    
} */

.component_buttons {
    background: var(--bg-primary);
    height: 5rem;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.confirm {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background: var(--bg-secondary);
}
.go-back {
    border: none;
    font-weight: 500;
    color: var(  --text-clr-secondary);
    background: transparent;
    font-weight: 600;
    /* color: #9699AA; */
}




/* SPECIAL CLASSES */
.is_active {
    border-bottom: 1px solid #D6D9E6;
    padding: 0 0 1rem;

}
.component_summary_container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.component_summary_container > div > p {
    color: #022959;
}
.component_summary_container > div > div :last-child {
    display: none;
}
.component_summary_container > div:is(.is_active) > div :last-child {
    display: block;
    color: #D6D9E6;
    font-size: 14px;
}
.component_summary_container > div:is(.is_active) > div :first-child {
    font-weight: 500;
    color: #022959;
}
.component_summary_container > div:is(.is_active) > :last-child {
    font-weight: 700;
}


@media (min-width: 768px) {
    .component_thank-you img {
        width: initial;
    }
    .main_summary {
        width: 80%; 
    }
}


/* COPY AND USE THE MEDIA QUERIES BELOW FOR YOUR COMPONENT */

/* xtra small screens */
/* @media (min-width: 475px) {
}
/*  small screens */
/* @media (min-width: 640px) {
}
/* medium screens */
/* @media (min-width: 768px) {
}
/* large screens */
/* @media (min-width: 1024px) {
}
 */

 /* HTML
 <div class="addon__content-wrapper">
  <div class="addon__modal">
    <h1 class="title">Pick add-ons</h1>
    <p class="sub-title">Add-ons help enhance your gaming experience.</p>
  </div>

  <div class="addon__footer">
    <div class="addon__option"></div>
  </div>
</div>
 */

 /* CSS */
  /* large screens */
/* @media (min-width: 1024px) {
    .addon__content-wrapper {
      background: var(--bg-primary);
    }
    .addon__content-wrapper {
      width: 80%;
      margin-inline: auto;
    }
    .addon__modal {
      margin-top: 0;
    }
    .addon__footer {
      background: var(--bg-primary);
      height: 5rem;
      padding: 1rem;
      background: lightblue;
    }
  } */

  /* .addon__content-wrapper {
    height: 100%;
    width: 100%;
    background: var(--content-bg-mobile);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .addon__modal {
    background: var(--bg-primary);
    width: 90%;
    margin-inline: auto;
    padding: 1rem;
    height: fit-content;
    border-radius: 20px;
    margin-top: -2rem; **
  }
  
  .addon__footer {
    background: var(--bg-primary);
    height: 5rem;
    padding: 1rem;
    background: lightblue;
  }
   */
