
<div class="container">
    <section class="main_summary">
        <h1 class="component_title">
        Finish up
        </h1>
        <!-- small text / subtitle -->
        <p class="component_subtitle">Double-check everything looks OK before confirming.</p>
        
        <!-- summary report -->
        <section class="component_summary_container">
            <div class="arcade">
                <!-- selected plan -->
                <div>
                    <h2>
                        Arcade (Monthly)
                    </h2>
                    <a href="#">Change</a>
                </div>
        
                <!-- charges -->
                <p>$9/mo</p>
        
            </div>
            <!-- selected addons -->
            <div class="selected_addons">
                <!-- online service -->
                <div class="online_service">
                    <p>Online service</p>
                    <p>+$1/mo</p>
                </div>
                <!-- large storage -->
                <div class="larger_storage">
                    <p>Larger storage</p>
                    <p>+$2/mo</p>
                </div>
            </div>
        
        </section>
        
        <!-- total charges -->
        <section>
            <p>Total (per month)</p>
            <p>+$12/mo</p>    
        </section>
        
        <!-- navigation button -->
        <section class="component_buttons">
            <button class="go-back">Go Back</button>
            <button class="confirm">Confirm</button>
        </section> 
    </section>

    <!-- <section class="component_thank-you">
        <img src="../../assets/icon-thank-you.svg" alt="thank you svg icon showing completion of form">
        <h1>Thank you!</h1>
        <p>
            Thanks for confirming your subscription! We hope you have fun using our platform. If you ever need support, please feel free to email us at support&#64;loremgaming.com.
        </p>
    </section> -->
</div>


<!-- thank you component -->