.form__container {
  background-color: #ffffff;
  box-shadow: 8px 9px 20px #e1e8f1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.form__leftSide {
  background-image: url("../../assets/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* steps info wrapper */
.form__leftside-steps {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
}

/* right side style */
.form__rightSide {
  height: 70%;
}

/* number circles */
.form__leftside-circlenums {
  width: 2.5rem;
  height: 2.5rem;
  /* background-color: #bce4f9; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  font-weight: bold;
}

/* step text s*/
.form__leftside-text {
  display: none;
}
.form__leftside-text > p {
  color: #9a97ff;
}
.form__leftside-text > h2 {
  color: white;
  font-size: 1.3rem;
}

/* media queries */

/* xtra small screens */
/* @media (min-width: 475px) {
}
/*  small screens */
@media (min-width: 640px) {
  .form__leftside-circlenums {
    width: 3rem;
    height: 3rem;
  }
}
/* medium screens */
@media (min-width: 768px) {
  .form__leftside-circlenums {
    width: 3rem;
    height: 3rem;
  }
}
/* large screens */
@media (min-width: 1024px) {
  .form__container {
    flex-direction: row;
    height: 80%;
  }
  .form__leftSide {
    background-image: url("../../assets/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    padding: 2rem;
    border-radius: 20px;
  }
  .form__rightSide {
    width: 70%;
  }
  .form__leftSide {
    flex-direction: column;
    justify-content: start;
  }
  .form__leftside-circlenums {
    width: 2.5rem;
    height: 2.5rem;
  }
  .form__leftside-text {
    display: block;
  }
}
