<form
  [formGroup]="addonForm"
  class="addon__content-wrapper"
  (ngSubmit)="nextStep()"
>
  <div class="addon__modal">
    <div class="header">
      <h1 class="title">Pick add-ons</h1>
      <p class="sub-title">Add-ons help enhance your gaming experience.</p>
    </div>

    <div class="addon__options">
      <!-- option -->
      @for (addon of addonsList; track addon.name) {
      <label class="addon__option">
        <div class="addon__title-and-desc">
          <input
            [formControlName]="addon.name"

            type="checkbox"
            name="online-service"
            id="online-service"
          />
          <div>
            <h4 class="option__title">{{ addon.name }}</h4>
            <p class="text-sm">{{ addon.description }}</p>
          </div>
        </div>

        <p class="text-purple">+${{ addon.price.monthly }}/yr</p>
      </label>
      }
      <!--  -->
    </div>
  </div>

  <div class="addon__footer">
    <button class="btn-ghost">Go back</button>
    <button class="btn" type="submit">Next Step</button>
  </div>
</form>
