<form
  [formGroup]="addonForm"
  class="addon__content-wrapper"
  (ngSubmit)="nextStep()"
>
  <div class="addon__modal">
    <div class="header">
      <h1 class="title">Pick add-ons</h1>
      <p class="sub-title">Add-ons help enhance your gaming experience.</p>
    </div>

    <div class="addon__options">
      <!-- option -->
      @for (addon of addonsList; track addon.name) {
      <label
        class="addon__option"
        [class.addon__option--checked]="addonForm.get(addon.name)?.value"
      >
        <div class="addon__title-and-desc">
          <input
            [formControlName]="addon.name"
            (change)="checkValidity()"
            type="checkbox"
            name="online-service"
            id="online-service"
          />
          <div>
            <h4 class="option__title">{{ addon.name }}</h4>
            <p class="text-sm">{{ addon.description }}</p>
          </div>
        </div>

        <p class="text-purple">
          +${{ isMonthly ? addon.price.monthly : addon.price.yearly }}/{{
            isMonthly ? "mo" : "yr"
          }}
        </p>
      </label>
      }
      <!--  -->
    </div>
  </div>

  <div class="addon__footer">
    <button class="btn-ghost" (click)="goBack()">Go back</button>
    <button class="btn" type="submit" [disabled]="!canGoNext">Next Step</button>
  </div>
</form>
