<div class="planContainer">
  <div class="planContainer__details">
    <div class="planContainer__text">
      <h3>Select you plan</h3>
      <p>You have the option of monthly or yearly billing.</p>
    </div>
    <button>
      <div><img src="../../assets/icon-arcade.svg" alt="" /></div>
      <div>
        <p>Arcade</p>
        <p>$90/yr</p>
        <p>2 months free</p>
      </div>
    </button>
    <button>
      <div><img src="../../assets/icon-advanced.svg" alt="" /></div>
      <div>
        <p>Advanced</p>
        <p>$120/yr</p>
        <p>2 months free</p>
      </div>
    </button>
    <button>
      <div><img src="../../assets/icon-pro.svg" alt="" /></div>
      <div>
        <p>Pro</p>
        <p>$150/yr</p>
        <p>2 months free</p>
      </div>
    </button>

    <div>
      <div>
        <span>Monthly</span>
        <div>
          <span></span>
        </div>
        <span>Yearly</span>
      </div>
    </div>
  </div>
  <div class="planContainer__button-div">
    <button class="btn goBack">Go back</button>
    <button class="btn nextStep">Next Step</button>
  </div>
</div>
